* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* outline: 1px solid red; */
}
html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
    width: 0%;
}

.side-nav {
    position: fixed;
    top: 0;
    left: -50%;
    background-color: black;
    color: white;
    width: 50%;
    height: 100%;
    padding: 1%;
    /* display: none; */
    z-index: 6;
    transition: ease 0.5s;
}

.side-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.side-nav ul li {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
}

.side-nav ul li {
    color: white;
    text-decoration: none;
}

.side-nav i {
    margin-left: 85%;
    cursor: pointer;
    font-size: 1.5rem;


}

.add-to-cart-side-nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: white;
    color: black;
    width: 40%;
    height: 100%;
    padding: 1%;
     z-index: 6;
    transition: ease 0.5s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    

}

.add-to-cart-side-nav i {
    margin-left: 0%;
    cursor: pointer;
    font-size: 1.5rem;
}
.cart-tit-bar {
    text-align: center;
}
.scroll-items{
    overflow: auto;
}









.addcartside {
    display: grid;
    grid-template-columns: 30% 35% 35% ;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    border-bottom: 3px solid white;
    border-radius: 10px;
    padding-top:20px;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 

    }
    .addcartside:hover{
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

.addcartside img{
        width: 60%;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }





.addcartside .adjust {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border-style: none;
    


}
.add-to-cart-side-nav {
    max-height: 100%; /* set how tall you want the cart list */
    overflow-y: auto;  /* vertical scrolling only */
    overflow-x: hidden; /* hide horizontal scroll */
    border: 1px solid #ccc; /* optional, just to see the box */
}
.add-to-cart-side-nav::-webkit-scrollbar {
    width: 0%;
}
.addcartside span {
    background-color: #000000;
    color: white;
    padding: max(0.1rem,9%);
    border-radius: 50%;
    cursor: pointer;
    font-weight: 400;

}
.addcartside span:nth-child(2) {
    background-color: #ffffff;
    color: black;
    border-radius: 50%;
    cursor: text;
    padding: max(0.1rem,3%);
    font-size: clamp(0.1rem, 5vw, 1rem);

}
.addcartside h1 {
    font-size: clamp(0.1rem, 2vw, 3rem);
    

}
.addcartside h3 {
    font-size: clamp(0.9rem, 2vw, 2rem);
    

}


.addcartside button:hover{
    background-color: #7a7777;
    color: white;
}

.button-cart {
    display: flex;
    justify-content: space-around;
    text-align: end;


}





.nav {

    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
    top: 0%;
    /* width: 100%; */



}

/* span{
    font-size: medium;
} */

.icons {
    display: none;
    cursor: pointer;
}

.title {
    display: flex;
    font-size: 50px;
}

.nav ul {
    display: flex;
    justify-content: flex-end
}

.nav ul li {
    margin-right: 25px;
    list-style: none;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    
}
.nav ul li a {
    text-decoration: none;
    color: #000000;
}
a{
    text-decoration: none;
    color: #000000;
}
.side-nav ul li a {
    text-decoration: none;
    color: #fff;
}


.nav ul li:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.10);
    transition: transform 0.3s ease-in-out;

}


.icon {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}


.heading {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    font-size: clamp(2rem, 5vw, 6rem);
    font-family: "Kaushan Script", cursive;
    padding-top: 20px;
}

.para {
    font-size: clamp(0.1rem, 5vw, 2rem);
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: min(5rem,4%);
    /* width: 600px; */
    /* margin-left: 440px;
    margin-right: 440px; */

}

.text {
    text-align: center;
    max-width: 1000px;

    height: auto;
}


.btn1 {
    text-align: center;
    /* font-size: 15px; */
    background-color: #EA8AE9;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    border: none;
    /* font-weight: 600; */
    transition: ease 0.3s;
    position: absolute;
    top: 80%;



}




.btn1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.10);
    transition: transform 0.3s ease;
}

.button2 {
    display: flex;
    justify-content: center;
    margin-top: 17px;

}

.poptitle {
    text-align: center;
    margin-top: 50px;
}

.head {
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-family: "Poppins", sans-serif;
    margin-bottom: 2%;
}

.popproducts2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 3fr));
    gap: 6rem;

    
    /* justify-content: space-around; */
    padding: 60px;


}

.product2 {
    background: #fff;
    padding: 0.5rem;
    border-radius: 8px;
    overflow-x: auto;  
    /* width: 18%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 50px; */
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     scroll-behavior: smooth; /* smooth scroll effect */

}
@media (max-width: 600px) {
  .popproducts2 {
    grid-template-columns: repeat(auto-fill,(2, 1fr));
  }
}

.product2:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 1;

}

.product2 img {
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
    
}
.product2  h4{
    font-size:8 0%;
    color: #7a7777;
    
}
.product2 h1 {
    font-size: clamp(1.7rem, 2vw, 2rem);
    color: #000000;
    
}
.product2 h2{
    font-size: clamp(1.5rem, 2vw, 1.2rem);
    color: #000000;
    
}

.product2 .btn {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1rem);
    background-color: #EA8AE9;
    padding: max(0.5rem,3%);
    /* margin: 15px; */
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    border: none;
    font-weight: 600;
    transition: ease 0.3s;
}
.rate .mrp{
    font-size: clamp(1rem, 2vw, 1rem);
    text-decoration: line-through;
    color: #6d6a6a;
}

.product2 .btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.product2 .rate {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: min(0.5rem,8%) ;
    align-items: center;
    font-size: clamp(0.1rem, 2vw, 1rem);
}

.scrolltrain {
    display: flex;
    animation: scrolltrain 20s linear infinite;
}

.scrollbar {
    display: flex;
    flex-wrap: nowrap;
}

.scrolltrain img {
    width: 300px;
    height: 400px;
    margin-right: 20px;
    display: block;
    /* vertical-align: middle; */
    /* border-radius: 5px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.scrolltrain .product2 {
    width: 300px;
    text-align: center;
    background-color: #f8f8f8;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.scrolltrain .product2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



/* @keyframes scrolltrain {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
} */

.behavbar {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: #EA8AE9;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-size: 30px;
    text-align: center;

}

.behave {

    display: flex;


}

.cat-head {
    text-align: center;
    font-size: clamp(1.7rem, 5vw, 3.5rem);
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3.5rem;
    padding: 3rem;
}


.cat {
    /* width: 20%;
    height: 50%;
    margin: 2%; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */


}

.cat p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 80%;
    font-style: normal;
    padding: 10px;
}
.cat h1 {
    font-family: "Poppins", sans-serif;
     font-size: clamp(1.2rem, 2vw, 2rem);
    
    /* font-size: 100%; */
    
}
.cat img {
    border-radius: 10px;
    width: 90%;
    margin-top: 15px;
}

.cat:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

/* news */
.newspic {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

.newspic img {
    width: 500px;
    height: 400px
}

.newsbox {
    width: 800px;
    display: flex;
    justify-content: space-around;
}



.footer {
    
    color: #000000;
    background-color: #EA8AE9;
    text-align: center;
    padding: max(0.5rem,4%);
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}

.titlecontent {
    width: 20%;
    padding: 20px;
}

.titlecontent h3 {

    font-family: "Poppins", sans-serif;
    /* margin-bottom: 20px; */
    text-align: start;

}

.titlecontent p {

    font-family: "Poppins", sans-serif;
    text-align: start;
    margin-bottom: 20px;
}

.titlecontent i {

    margin-right: 10px;
}

.quick-links {
    /* width: 400px; */
    padding: 20px;

}

.quick-links h3 {

    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.quick-links ul {
    list-style: none;
    padding: 0;

}

.quick-links ul li {
    /* margin-bottom: 10px; */

    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

.quick-links ul li a {
    color: #000000;
    text-decoration: none;


}

.contact {

    padding: 20px;

}
.contact-us {

    padding: 20px;

}
.contact-us h3 {
    /* font-size: 35px; */
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
.contact-us ul {
    list-style: none;
    padding: 0;
}
.contact-us ul li {
    margin-bottom: 10px;

    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}
.terms h3 {
    /* font-size: 35px; */
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.terms ul {
    list-style: none;
    padding: 0;
}

.terms ul li {
    margin-bottom: 10px;

    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

.contact ul li a {
    color: #020202;
    text-decoration: none;

}

.reach {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.reach-out-bar .login-content {
    padding-bottom: 30px;
}

.reach-out-bar {
    max-width: 600px;
    height: auto;
    background-color: black;
    color: white;
    display: inline-block;
    padding: max(0.5rem,4%);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

.reach-out-bar .surname {
    display: flex;
    justify-content: space-evenly;

}

.reach-out-bar .email {
    display: flex;
    justify-content: center;

}

.reach-out-bar #one,
#two {
    width: 42%;
    height: 35px;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;

}

.reach-out-bar #three {
    margin-top: 12px;
    width: 89%;
    height: 40px;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;


}

.reach-out-bar #four {
    margin-top: 12px;
    width: 89%;
    height: 100px;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;

}

.reach-out-bar button {
    font-family: "Poppins", sans-serif;
    margin-top: 12px;
    width: 89%;
    height: 40px;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    background-color: #EA8AE9;
    color: white;

}


/* .footer-mobile{
    width: 100%;
    height: 60%;
    background-color: #EA8AE9;
    color: white;
    text-align: center;
    display: none;

} */






@media screen and (max-width: 858px) {
    .icons {
        display: flex;
        padding-right:20px;
        align-items: center;
       
    }
    .icons p {
        font-size: 120%;
       
    }
    
    .nav ul li{

        display:none;
    }

    .title {
        font-size: 30px;
    }

    /* .heading {
        font-size: 80px;
    } */

    .icon img {
        width: 100px;
        height: 100px;
    }

    /* .para {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    } */

    /* .head {
        font-size: 20px;
    } */



    .footer {
        font-size: 18px;
    }

  

    /* .popproducts2 {
        padding: 8px;
    } */

    /* .product2 {
        max-width:100%;
        height: auto;
        margin: 15px;
        margin-bottom: 30px;

    } */

    /* .product2 p {
        font-family: "Poppins", sans-serif;
        font-size: 6px;
        font-weight: 300;
        font-style: normal;
        padding: 10px;
    } */

    /* .product2 h1 {
        font-family: "Poppins", sans-serif;
        font-size: small;
    } */

    /* .product2 h2 {
        font-family: "Poppins", sans-serif;
        font-size: small;
        
    } */

    .product2 h4 {
        font-family: "Poppins", sans-serif;
        font-size: small;
        display: none;
    }

    .product2 .btn {
        font-family: "Poppins", sans-serif;
        font-size: small;
        font-size: 8px;
        
    }

    /* .product2 img {
        width: 90%;
        height: 200px;
    } */

    .titlecontent {
        width: 100%;
        padding: 20px;
    }
    /* .cat {
    width: 20%;
    height: 50%;
    /* margin: 10%; */


    .footer {
        flex-direction: column;
    }
    /* .reach-out-bar .login-content {
    font-size: 15px;
    }
    .reach-out-bar {
    width: 70%;
    height: 450px;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif; 
}
    */
}






@media screen and (max-width: 788px) {
        
    .add-to-cart-side-nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: white;
    color: black;
    width: 70%;
    height: 100%;
    padding: 1%;
     z-index: 6;
    transition: ease 0.5s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    

}/* .para {
            font-size: 15px;
            margin-left: 10px;
            margin-right: 10px;
        } */

    /* .heading {
        font-size: 50px;
    } */

    /* .cat {
    width: 30%;
    height: 50%;
}


    .cat p {
        font-family: "Poppins", sans-serif;
        font-size: 6px;
        font-weight: 300;
        font-style: normal;
        padding: 10px;
    }

    .cat h1 {
        font-family: "Poppins", sans-serif;
        font-size: small;
    }

    .cat img {
        width: 100%;
        height: 50%;
    } */

    .contact {
        display: none;
    }

    .titlecontent {
        width: 100%;
        padding: 20px;
    }
    .reach-out-bar .login-content {
    font-size: 10px;
    }
    

    /* .footer{
        display: none;
    } */
    /* .footer-mobile{
        display: block;
    } */
     .cat img{
    display: none;
 }
 .category{
    gap: 1.5rem;
 }
 .cat-head {
    margin-bottom: 10px;
 }



}
@media screen and (max-width: 532px){
     /* .product2 {
        width: 100px;
        height: 200px;
        margin: 15px;
        margin-bottom: 30px;

    } */

    .product2 p {
        font-family: "Poppins", sans-serif;
        font-size: 6px;
        font-weight: 300;
        font-style: normal;
        padding: 10px;
    }
    .product2:hover , .cat:hover {
    cursor: pointer;
    transform:none; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

    /* .product2 h1 {
        font-family: "Poppins", sans-serif;
        font-size: small;
    } */

    /* .product2 h2 {
        font-family: "Poppins", sans-serif;
        font-size: small;
        
    } */

    /* .product2 h4 {
        font-family: "Poppins", sans-serif;
        font-size: small;
        display: none;
    } */

    .product2 .btn {
        font-family: "Poppins", sans-serif;
        font-size: small;
        font-size: 8px;
        padding: 7px;
        
    }

    /* .product2 img {
        width: 90%;
        height: 100px;
    } */
    /* .reach-out-bar {
    width: 70%;
    height: 450px;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
} */
 .cat img{
    display: none;
 }
 .category{
    gap: 1.5rem;
 }
 .cat-head {
    margin-bottom: 10px;
 }

}